body{
    text-align: center;


}
.button{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    display: inline-block;
    

}
#grey{

    background-color: grey;
}

#blue{

    background-color: blue;
}

#yellow{

    background-color: yellow;
}
#white{

    background-color: white;
}


.text{
    font-family: 'Courier New', Courier, monospace;
}

